# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# IDE / editor settings
.vscode/
.idea/
*.swp

# Logs / temporary files
logs/
*.log
*.tmp
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Docker
*.pid
*.sock

# Cache
.cache/
.pytest_cache/

# Local databases
*.sqlite3
*.db